@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  h1 {
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }
 
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: blue;
  
  
}

h1 {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

nav li {
  margin: 0 10px;

}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #f2f2f2;
}

main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}
p {
  margin: 0px;
  padding: 0px;
}
section {
  margin-bottom: 20px;
}
.repository{
  background-color: black;
}
h2 {
  margin-top: 0;
}

.footer {
  background-color: black;
  text-align: center;
  padding: 20px;
  color: white;
}

.myprojects{
  font-size: 20px;
  padding: 20px;
  justify-content: center;

}
.myprojects div{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  align-items: center;
  padding: 10px;
  
}

.aboutme{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  
}

.icongroup{
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  align-items: center;
  
}
.row {
  display: flex;
}
.icons{
  justify-content:center ;
  padding: 5px;
  
}
.profilepic{
  text-align: center;
}
.profilepic img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
 
}
.simula{
  font-size: 30px;
  padding: 100px;
}

.quote{
  font-size: 20px;
  text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
}

.quote div{
  line-height: 200px;
  
}




